body{
  
    margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.pizza{
   font-size: 200px;
    position:absolute;
    top: 100px;
    color: rgb(111, 3, 199);
    margin-top: -110px;
    margin-left: 336px;
    font-family: Georgia, serif;
  
    letter-spacing: 1.6px;
    word-spacing: 2px;
    
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    
}
.white{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 1800px;
}

h1{
    position: absolute;
    font-size: 80px;
    top: 142px;
    left: 510px;
    color:rgb(111, 3, 199);
    font-family: Georgia, serif;
  
    letter-spacing: 1.6px;
    word-spacing: 2px;
    
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}

form {
    position: absolute;
    top: 301px;
    left: 330px;
    color:rgb(111, 3, 199);
    font-size: 39px;
    line-height: 12.9px;
    text-align: center;

}

fieldset {
    height: 500px;
}
#zakaz {
    width: 250px;
    height: 50px;
 font-size: 40px;
 font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}
.dobavka{
   font-size: 25px;
  margin-top: 15px;
}
select {
    font-size: 20px;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}
p, label{
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
 }
.pizza2{
    position: absolute;
    z-index: 2;
    top: 33px;
    left: 28px;
    width: 258px;
}
.kryg{
    position: absolute;
    left: 0px;
    top: 0px;
}
.star {
    position: absolute;
    top: 0px;
    height: 900px;
    width: 1320px;
}


